.App {
  text-align: center;
}

.red {
  color: red;

}

.bold {
  font-weight: bold;
}

.App Button {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid green;
  padding-bottom: 8px;
  cursor: pointer;
}


.App Button.Blue {
    background-color: blue;
}

.App Button:hover {
    background-color: lightgreen;
    color: black;
}

.App Button.Blue:hover{
    background-color: lightblue;
}

